@font-face {
  font-family: 'LEMONMILK-Medium';
  src: url(fonts/LEMONMILK-Medium.eot);
  src: url(fonts/LEMONMILK-Medium.woff) format('woff'),
       url(fonts/LEMONMILK-Medium.woff2) format('woff2'),
       url(fonts/LEMONMILK-Medium.ttf) format('truetype'),
       url(fonts/LEMONMILK-Medium.svg#LEMONMILK-Medium) format('svg'),
       url(fonts/LEMONMILK-Medium.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  padding: 40px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  margin: 0 auto;
}

.App h1{
  font-family: 'LEMONMILK-Medium', 'serif-regular',serif;
  font-size: 80px;
}

.App .white {
  color: #FFFFFF;
}
